<div class="jumbotron">
    <h2>ToDolist! You Need TO DO!  </h2>
    <br>
    <h3>Trusted by Millions. It's Really waste Your time!!</h3>
    <br>
    <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-danger"%>
    
</div>